@model WebMVC.AccountService.Account
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="register-box">
        <img src="~/img/avatar.png" class="avatar">
        <h1>REGISTER</h1>
        <div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <label>Fullname</label> @Html.EditorFor(model => model.FullName, new{htmlAttributes = new { @class = "normal", @placeholder = "Enter full name" }})
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                <label>Username</label> @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "normal", @placeholder = "Enter username" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                <label>Phone Number</label> @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "normal", @placeholder = "Enter phone number" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                <label>Address</label> @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "normal", @placeholder = "Enter address" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                <label>Password</label> @Html.PasswordFor(model => model.Password, new { @class = "normal", @placeholder = "Enter password"  })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <label>Confirm Password</label> @Html.PasswordFor(model => model.Password, new { @class = "normal", @placeholder = "Re-enter password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <input type="submit" class="btn" value="Register" /><br><br>
                <label>Already have account ?</label> <a href="@Url.Action("Index", "Account")"> Login </a>
            }


        </div>
    </div>

</body>
</html>

