@using WebMVC.BagCategoryService
@using WebMVC.BagService
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Homepage</title>
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link href="~/css/style_1.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/UserHeader.cshtml")
    <div class="container" style="padding-top: 50px;">
        <div class="center">
            @{
                string Name = ViewBag.Name;
                string Cate = ViewBag.Category;
            }
            @using (Html.BeginForm("Search", "Bag"))
            {
                <span> Name: </span> <input type="text" name="Name" value="@Name" />
                <span> Category: </span>
                <select name="Cate">
                    <option value="">--Category--</option>
                    @foreach (BagCategory category in GlobalVariables.Categories)
                    {
                        if (category.bagCID.Equals(Cate))
                        {
                            <option value="@category.bagCID" selected="selected">@category.CateName</option>
                        }
                        else
                        {
                            <option value="@category.bagCID">@category.CateName</option>
                        }
                    }
                </select>
                <input type="submit" value="Search" />
            }
        </div>
    </div>
    @if (ViewBag.Bags != null)
    {
        <div class="section" style="padding-top: 50px;">
            <div class="container">
                <div class="row">
                    @foreach (Bag bag in ViewBag.Bags)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                            {
                                <div class="product_list" style="background-color: #F0EEEE; min-height: 350px;">
                                    <div class="product_img"> <img class="img-responsive" src="@Url.Content(bag.Image)" alt="" style="width: 500px; height: 200px;"> </div>
                                    <div class="product_detail_btm">
                                        <div class="center">
                                            <h4>@bag.BagName</h4>
                                        </div>
                                        <div class="product_price">
                                            <p><span class="new_price">@bag.Price$</span></p>
                                        </div>
                                    </div>
                                    <div class="center">
                                        <input type="submit" name="action" value="Add to Cart" class="btn btn-primary" style="margin-top: 20px;" />
                                        <input type="hidden" value="@bag.BagID" name="ID" />
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="container">
            <div class="center">
                @{
                    int position;
                    int pageCurrent = ViewBag.pageCurrent;
                    float numSize = ViewBag.numSize;

                    if (pageCurrent > 1)
                    {
                        <a class="btn btn-large btn-primary" style="min-width: 50px;" href="@Url.Action("Search", "Bag", new { Name = (Name != "" ? Name : null), Cate = (Cate != "" ? Cate : null), page = pageCurrent-1 })" tabindex="-1">Previous</a>
                    }

                    for (position = 1; position <= numSize; position++)
                    {

                        if (position == pageCurrent)
                        {
                            <a class="btn btn-large btn-primary" style="background-color: #5a6268;min-width: 50px;" href="@Url.Action("Search", "Bag", new { Name = (Name != "" ? Name : null), Cate = (Cate != "" ? Cate : null),  page = position })">@position</a>
                        }

                        else
                        {
                            <a class="btn btn-large btn-primary" style="min-width: 50px;" href="@Url.Action("Search", "Bag", new { Name = (Name != "" ? Name : null), Cate = (Cate != "" ? Cate : null), page = position })">@position</a>
                        }

                    }
                    if (pageCurrent > 0 && pageCurrent < numSize)
                    {
                        <a class="btn btn-large btn-primary" style="min-width: 50px;" href="@Url.Action("Search", "Bag", new { Name = (Name != "" ? Name : null), Cate = (Cate != "" ? Cate : null), page = pageCurrent+1 })" tabindex="-1">Next</a>
                    }

                }
            </div>
        </div>
    }
    else
    {
        <div class="center">
            <p>Not found any bag!!!</p>
        </div>
    }
    <script src="~/Scripts/alertify.min.js"></script>
    <script>
        function DisplayMessage() {
            var successMessage = '@TempData["SuccessMessage"]';
            var failMessage = '@TempData["FailMessage"]';
            if (successMessage != '') {
                alertify.success(successMessage);
            } else if (failMessage != '') {
                alertify.error(failMessage);
            }
        };
        window.onload = DisplayMessage();
    </script>

</body>
</html>
