@model GroupProject.Models.CartObj
@{
    ViewBag.Title = "Index";
    var cart = Session["CART"] as GroupProject.Models.CartObj;
    var itemInCart = cart.cart.Values;
}

@if (itemInCart !=null)
{
    <table class="table" border="1">
        <thead>
            <tr>
                <td>Name</td>
                <td>Image</td>
                <td>Description</td>
                <td>Unit Price</td>
                <td>Quantity</td>
                <td>Total Price</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
           
            @foreach (var item in itemInCart)
            {
                <tr>
                    <td>@item.name</td>
                    <td><img src="@item.image" style="width:100px;height:100px;"></td>
                    <td>@item.description</td>
                    <td>@item.price</td>
                    <td>
                        <a href="/update-cart-add?bid=@item.id&quantity=@item.quantityCart"><button>+</button></a>
                        @item.quantityCart
                        <a href="/update-cart-sub?bid=@item.id&quantity=@item.quantityCart"><button>-</button></a>
                    </td>
                    <td>@(item.quantityCart * item.price)</td>
                    <td><a href="/delete-cart?id=@item.id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Your Shopping Cart Is Empty!!!</h2>
}
